<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Binance Coin Market Data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Coin Market: Binance Data Part1 - Order Book list</h3>
            <h4>Updated at: {{updatedAt}}</h4>
        </div>
        <div class="col-sm-6">
            <a href="/">Home</a>
        </div>
        <div class="col-sm-6">
            <a href="/part2">Part 2</a>
        </div>
    </div>
    {{#if hasData}}
        <div class="row">
            <div class="col-md-6">
                <h3>Bids</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Size</th>
                        <th scope="col">Bid</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each bids}}
                        <tr>
                            <td>{{this.[1]}}</td>
                            <td>{{this.[0]}}</td>

                        </tr>
                    {{/each}}
                </table>
            </div>
            <div class="col-md-6">
                <h3>Asks</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Ask</th>
                        <th scope="col">Size</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each asks}}
                    <tr>
                        {{#each this}}
                            <td>{{this}}</td>
                        {{/each}}
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
        <script>
            setTimeout(() => window.location.reload(), 30000);
        </script>
    {{else}}
        <div class="row">
            <h5>Waiting for Data from market.....Auto refreshing after 2 seconds</h5>
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <script>
            setTimeout(() => window.location.reload(), 2000);
        </script>
    {{/if}}
</div>
</body>
</html>